RewriteEngine on

RewriteCond %{HTTP_HOST} ^loja-virtual-de-teste.herokuapp.com/$ [NC,OR]

RewriteCond %{HTTP_HOST} ^https://loja-virtual-de-teste.herokuapp.com/$

RewriteCond %{REQUEST_URI} !public/

RewriteRule (.*) /public/$1 [L]
